/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "verdana", "sans-serif";
  background-image: url(asset-path("background_books.png"));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.flash {
  font-size: small;
}

.info {
  color: blue;
}

.right {
  color: green;
}

.wrong {
  color: red;
}

#dis-connect {
  font-weight: bold;
  background-color: grey;
  padding: 1%;
}

#dis-connect a {
  color: orange;
  text-decoration: none;
}

#dis-connect a:hover {
  color: brown;
}

#dis-connect a:active {
  color: green;
}
